language: node_js
node_js:
  - stable
  - node
cache:
  directories:
  - "$HOME/.npm"
before_install:
  - nvm install
install:
  - npm ci
services:
 - postgresql
env:
  global:
  - NODE_ENV=test
script:
 - npm run test
notification:
 - email: phawazzzy@gmail.com

