language: node_js
node_js:
  - stable
  - node
cache:
  directories:
  - $HOME/.npm
before_install:
  - nvm install
install:
  - npm ci
services:
 - postgresql
script:
 - npm run test
notification:
 - email: phawazzzy@gmail.com

